        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            background-color: var(--color-blue-primary);
            color: var(--color-white);
            background-image: url('../images/banner/bg.png');
            background-repeat: repeat;
            z-index: 1;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        a {
            text-decoration: none;
            color: var(--color-white);
        }
        
        ul {
            list-style: none;
        }
        
        a:hover {
            text-decoration: none;
        }
        
         :root {
            --color-white: #fff;
            --color-dark: #000;
            --color-orange: #FFC85E;
            --color-dark-orange: #FFC85E;
            --color-orange-1: #FAAD14;
            --color-orange-2: #FF9900;
            --color-orange-3: #FFDE9C;
            --color-red-1: #FF4D4F;
            --color-red-2: #E4282A;
            --color-red-3: #FFB4B4;
            --color-green-1: #00C508;
            --color-green-2: #05CA19;
            --color-green-3: #05CA19;
            --color-blue-primary: #002337;
            --color-blue-1: #1890FF;
            --color-blue-2: #006CCF;
            --color-blue-3: #ABD7FF;
            --color-text-4: #828B92;
            --color-text-5: #CDD1D5;
        }
        
        .container {
            max-width: 1280px;
            margin: 0 auto;
        }
        
        h1 {
            font-size: 3rem !important;
        }
        
        h2 {
            font-size: 2rem;
        }
        
        h3,
        h4 {
            font-size: 1.5rem;
        }
        
        img {
            width: 100%;
            height: 100%;
        }
        
        .flex {
            display: flex;
        }
        
        .items-center {
            align-items: center;
        }
        
        .items-start {
            align-items: flex-start;
        }
        
        .items-end {
            align-items: flex-end;
        }
        
        .items-baseline {
            align-items: baseline;
        }
        
        .items-stretch {
            align-items: stretch;
        }
        
        .justify-start {
            justify-content: flex-start;
        }
        
        .justify-end {
            justify-content: flex-end;
        }
        
        .justify-center {
            justify-content: center;
        }
        
        .justify-between {
            justify-content: space-between;
        }
        
        .justify-around {
            justify-content: space-around;
        }
        
        .static {
            position: static;
        }
        
        .fixed {
            position: fixed;
        }
        
        .absolute {
            position: absolute;
        }
        
        .relative {
            position: relative;
        }
        
        .sticky {
            position: sticky;
        }
        
        .block {
            display: block
        }
        
        .inline-block {
            display: inline-block
        }
        
        .inline {
            display: inline
        }
        
        .flex {
            display: flex
        }
        
        .inline-flex {
            display: inline-flex
        }
        
        .table {
            display: table
        }
        
        .inline-table {
            display: inline-table
        }
        
        .table-caption {
            display: table-caption
        }
        
        .table-cell {
            display: table-cell
        }
        
        .grid {
            display: grid
        }
        .contents {
            display: contents
        }
        
        .hidden {
            display: none
        }
        
        .text-xs {
            font-size: 0.75rem;
            /* 12px */
            line-height: 1rem;
            /* 16px */
        }
        
        .text-sm {
            font-size: 0.875rem;
            /* 14px */
            line-height: 1.25rem;
            /* 20px */
        }
        
        .text-base {
            font-size: 1rem;
            /* 16px */
            line-height: 1.5rem;
            /* 24px */
        }
        
        .text-lg {
            font-size: 1.125rem;
            /* 18px */
            line-height: 1.75rem;
            /* 28px */
        }
        
        .text-xl {
            font-size: 1.25rem;
            /* 20px */
            line-height: 1.75rem;
            /* 28px */
        }
        
        .text-2xl {
            font-size: 1.5rem;
            /* 24px */
            line-height: 2rem;
            /* 32px */
        }
        
        .text-3xl {
            font-size: 1.875rem;
            /* 30px */
            line-height: 2.25rem;
            /* 36px */
        }
        
        .text-4xl {
            font-size: 2.25rem;
            /* 36px */
            line-height: 2.5rem;
            /* 40px */
        }
        
        .text-5xl {
            font-size: 3rem;
            /* 48px */
            line-height: 1;
        }
        
        .font-thin {
            font-weight: 100
        }
        
        .font-extralight {
            font-weight: 200;
        }
        
        .font-light {
            font-weight: 300
        }
        
        .font-normal {
            font-weight: 400
        }
        
        .font-medium {
            font-weight: 500
        }
        
        .font-semibold {
            font-weight: 600
        }
        
        .font-bold {
            font-weight: 700;
        }
        
        .font-extrabold {
            font-weight: 800
        }
        
        .font-black {
            font-weight: 900
        }
        
        .underline {
            text-decoration-line: underline
        }
        
        .overline {
            text-decoration-line: overline
        }
        
        .line-through {
            text-decoration-line: line-through
        }
        
        .no-underline {
            text-decoration-line: none
        }
        
        .text-left {
            text-align: left;
        }
        
        .text-center {
            text-align: center;
        }
        
        .text-right {
            text-align: right;
        }
        
        .text-justify {
            text-align: justify;
        }
        
        .text-start {
            text-align: start;
        }
        
        .text-end {
            text-align: end;
        }
        
        .underline {
            text-decoration-line: underline;
        }
        
        .overline {
            text-decoration-line: overline;
        }
        
        .line-through {
            text-decoration-line: line-through;
        }
        
        .no-underline {
            text-decoration-line: none;
        }
        
        .uppercase {
            text-transform: uppercase;
        }
        
        .lowercase {
            text-transform: lowercase;
        }
        
        .capitalize {
            text-transform: capitalize;
        }
        
        .normal-case {
            text-transform: none;
        }
        
        button {
            font-size: 0.875rem;
            padding: 0.5rem 0.625rem;
            min-width: 100px;
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;
            font-weight: 500;
            outline: none;
            animation: fade 1s forwards infinite linear;
        }
        
        .button-info {
            color: var(--color-white);
            border: 1px solid var(--color-white);
            background-color: var(--color-blue-primary);
            position: relative;
            isolation: isolate;
        }
        
        .button-info:before {
            content: "";
            height: 100%;
            width: 0;
            position: absolute;
            border: none !important;
            top: 0;
            right: 0;
            background-color: var(--color-dark);
            border-radius: 4px;
            z-index: -1;
            transition: width 0.25s ease-in;
        }
        
        .button-info:hover:before {
            width: 100%;
        }
        
        .button-primary {
            color: var(--color-blue-primary);
            border: 1px solid var(--color-blue-primary);
            background-color: var(--color-white);
            position: relative;
            isolation: isolate;
        }
        
        .button-primary:before {
            content: "";
            height: 100%;
            width: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: var(--color-text-5);
            border-radius: 4px;
            z-index: -1;
            transition: width 0.25s ease-in;
        }
        
        .button-primary:hover:before {
            width: 100%;
        }
        
        .button-success {
            color: var(--color-blue-primary);
            border: 1px solid var(--color-orange-1);
            /*background-color: var(--color-orange-1);*/
            position: relative;
            isolation: isolate;
            background: linear-gradient(180deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(9.25%, #C07E04), color-stop(113.18%, #FAED91));
            animation: gradient 1s ease infinite;
            background-size: 200% 100%;
            -webkit-animation: gradient 1s ease infinite;
            -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
        
        .button-success:before {
            content: "";
            height: 100%;
            width: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: var(--color-orange);
            border-radius: 4px;
            z-index: -1;
            transition: width 0.25s ease-in;
        }
        
        .button-success:hover:before {
            width: 100%;
        }
        
        @keyframes zoomInOutBtn {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.1);
            }
        }
        
        @keyframes letter-flicker {
            0% {
                opacity: 0.1;
            }
            19% {
                opacity: 1;
            }
            21% {
                opacity: 0;
            }
            23% {
                opacity: 1;
            }
            80% {
                opacity: 0;
            }
            84% {
                opacity: 0;
            }
            87% {
                opacity: 1;
            }
            93% {
                opacity: 0;
            }
            97% {
                opacity: 1;
            }
        }
        
        @keyframes gradient {
            to{
                background-position: 100%;
            }
        }
        /*    0% {*/
        /*        background-position: linear-gradient(0deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    10% {*/
        /*        background: linear-gradient(36deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    20% {*/
        /*        background: linear-gradient(72deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    30% {*/
        /*        background: linear-gradient(108deg,#C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    40% {*/
        /*        background: linear-gradient(144deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    50% {*/
        /*        background: linear-gradient(180deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    60% {*/
        /*        background: linear-gradient(216deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    70% {*/
        /*        background: linear-gradient(252deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    80% {*/
        /*        background: linear-gradient(288deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    90% {*/
        /*        background: linear-gradient(324deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*    100% {*/
        /*        background: linear-gradient(360deg, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
        /*    }*/
        /*}*/